@font-face {
	font-family: 'Geist Mono';
	font-weight: normal;
	src:
		local('Geist Mono'),
		url('@/assets/geist-mono-regular-subset.woff2') format('woff2');
}

:root {
	color: #a1a1a9;
	font-family: 'Geist Mono', monospace;
	font-weight: 400;
	font-style: normal;
	background-color: #09090b;
	color-scheme: dark;

	* {
		font-size: calc(14 / 16 * 1rem);
	}
}

#root {
	isolation: isolate;
}
