* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background-color: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-block-size: 100vh;
	min-block-size: 100dvh;
}

html {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html:focus-within {
	scroll-behavior: smooth;
}

html * {
	color: inherit;
	font: inherit;
	line-height: inherit;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	hyphens: auto;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}
